@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Material Symbols Outlined";
  font-weight: 100 700;
  font-style: normal;
  src: url(/fonts/material-symbols.woff2) format("woff2");
}

@layer base {
  html {
    accent-color: var(--primary);
  }

  body {
    font-family: var(--font-body);
    color: var(--on-background);
    background-color: var(--background);
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
}

@layer components {
  .link {
    font-family: var(--font-display);
    font-weight: var(--font-medium);
    color: var(--primary);
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    transition: text-decoration-color var(--easing-standard)
      var(--motion-short-4);
  }

  .link:hover,
  .link:focus {
    text-decoration-color: var(--tertiary);
  }
}

.skc-page-header__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.skc-page-header__text + * > .skc-button {
  white-space: nowrap;
}
